@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F0F4F8; /* Light Gray Base */
  color: #111827; /* Gray 900 */
}

#root {
  width: 100%;
}
