@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6; /* Gray 100 for light mode */
  color: #111827; /* Gray 900 */
}

#root {
  width: 100%;
}
